<div class=" text-center">
	<h1  class="question_panel">
		<div id="ack_message">
			<%= @message %> <br/>
		</div>
		<div id="percent_mark">
			<%= @percent.round(0) %> %	
		</div
	</h1>
</div>