// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question_panel {
	background-color: #074E68;
	color: white;
	padding-top: 10%;
	padding-bottom: 10%; 
}

.answer_input {
	text-align: center;
	font-size: 2.75em;
	font-weight: bold;
}

.wrong_answer {
	
}